@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family:'Montserrat', sans-serif;
    color:black;
    box-shadow: inset 0 0 15px black;
}

/*///// Header /////*/
header{
    position: sticky;
    top: 0px;
    z-index: 999;
    -webkit-box-shadow: inset 0 0 15px white;
    -moz-box-shadow: inset 0 0 15px white;
    box-shadow: inset 0 0 15px white;
}

a{
    text-decoration: none;
    color:white;
    font-size: 0.9em;
    margin: 0em 0.9em;
    font-weight: 300;
    color: white;
}

nav{
    display: flex;
    justify-content: flex-end;
    box-shadow: 0.1em 0.2em 1.7em 0.4em rgba(250, 242, 242, 0.884);
    background-color:#424949; 
    height: 5em;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 1.25em 5em;
}

.nav-option:hover{
    color: thistle;
    
}

.contact-button{
    color: #FFFF;
    box-shadow: black;
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color: #666666;
    
}

.contact-button:hover{
    background-color: thistle;
    color: black;
}

a:hover{
    color: rgb(190, 34, 190);
    }

/*///// Main /////*/
/*///// Sección 1 /////*/
main .about-introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8em 8.12em 11em 8.12em;
    width: 100%;
    background-color: black;
    flex-wrap: wrap;
    align-items: center;
    /* box-shadow :inset 0 0 15px white; */
    -webkit-box-shadow: inset 0 0 15px black;
    -moz-box-shadow: inset 0 0 15px black;
     box-shadow: inset 0 0 15px black;
}

.introduction-banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 3em;
}

.introduction-banner .about-intro{
    font-weight:800;
    font-size: 1.2em;
    margin-left: -1.9em;
    margin-top: 1.25;
    color: #B3B6B7;
}

.introduction-banner h1{
    font-size: 4em;
    font-weight: 900;
    font-family:'Lobster', cursive; 
    color:#A3B3B5;
    margin-left: -0.7em;
    margin-top: 0.18em;
    text-align: center;
}

.introduction-banner .about-description{
    font-size: 1em;
    font-weight: 400;
    padding-top: 1.3em;
    padding-bottom: 2.2em;
    color: #B3B6B7;
    margin-left: -2.5em;
}

.introduction-banner .info-button{
    display: flex;
    width: 50%;
    color: #FFFF;
    font-size: 0.7em;
    font-weight: 450;
    background-color:#494e4e;
    border-radius: 07em;
    padding: 0.9em 0.8em;
    justify-content: center;
    margin-left: -3.6em;
    justify-content: center;
}

.info-button:hover{
    background-color: thistle;
}

.info-button:hover p{
    color: black;
    font-weight: bold;
}

.about-introduction img{
    width: 50%;
    margin-top: 0.2em;
    margin-left: 0.7em;
    justify-content: center;
    align-items: center;

}

/*///// Sección 2 /////*/
.my-skills{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#D4D9DA;
    padding: 7.9em 6em;
    flex-wrap: wrap;
    box-shadow: inset 0 0 15px black;
}

.my-skills .skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

.my-skills .skills-title h2{
    font-size: 4.9em;
    font-weight:900; 
    font-family: 'Allison', cursive;
    justify-content: center;
}

.my-skills .skills-title p{
    text-align: center;
    max-width: 20.5em;
    margin: 1.7em;
    font-size: 0.8em;
}

.skills-containers img{
    width: 30%;
    margin: 0.4em;
}

.skills-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.skills-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    
}

.skill-box p{
    margin: 0.7em;
    font-weight: bold;
}
.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 14em;
    width: 25%;
    margin: 0.5em; 
    border-radius: 0.4em;
    background-color: #FFFF;
    transition: all 0.1s;
    border: 0.1em solid white;
}

.skill-box:hover{
    border: 0.1em solid black;
    color:#666666;
    box-shadow: 0.1em 0.1em 1em 0.1em rgb(168, 164, 164);
}


/*///// Sección3 /////*/
.extra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #777777;
    color:white;
    height: 32em;
    flex-wrap: wrap;
}

.extra-info .quote{
    font-size: 4em;
}

blockquote{
    max-width: 30em;
}

.extra-info-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    max-width: 15em;
    max-height: 15em;
    margin-bottom: 1.5em;
}

.extra-info blockquote p{
    text-align: center;
}

.extra-info .extra-info-bottom h2{
    font-size: 2em;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family:'Lobster', cursive;
}

/*//// Section 4 ////*/
.proyects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#D4D9DA;
    padding: 7.9em 6em;
    flex-wrap: wrap;
    box-shadow: inset 0 0 15px black;
}   

.proyects .my-proyects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
    }

.proyects .my-proyects h2{    
    font-size: 4.9em;
    font-weight:900; 
    font-family: 'Allison', cursive;
    justify-content: center;
}

.proyects .my-proyects p {
    text-align: center;
    max-width: 20.5em;
    margin: 1.7em;
    font-size: 0.8em;
}
.proyect-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 17em;
    max-height: 19em;
    min-height: 15em;
    margin: 0.7em;
    border: 0.1em solid #dddfe5;
    border-radius: 0.7em;
    background-color: white;
    transition: all 0.1s;
}

.proyect-box img{
    width: 80%;
}

.proyect-box p{
    font-weight: bold;
    text-align: center;
    font-size: 0.9em;
    margin-top: 1em;
}

.proyects-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.proyect-box:hover{
    border: 0.1em solid black;
    color:rgb(136, 50, 136);

}

.proyects-a{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
 
.proyects-b{
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
}

.proyects-c{
     display: flex;
     flex-wrap: wrap;
     flex: 1;
}


/*//// Section 5 ////*/
.contact-section{
    display: flex;
    justify-content:space-evenly;
    margin: 6em 6em;
    background-color:black;
    border: 2px solid white;
    color: white;
    padding: 1em;
}

.contact-container{
    display: flex;
    flex-direction: column;
    padding:0em 1em 0em 1em;
}

.contact-container p{
    font-size: 0.7em;
    max-width: 25em;
    padding-right: 60px;

}

.contact-form{
    font-size: 5em;
    font-weight:900; 
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    font-family:'Allison', cursive;
}

.incon-container-a{
    padding: 1em 0.2em;
}

.contact-list{
    display: flex;
    transition: all 0.2s;
    padding: 0.9em 0.4em;
    align-items: center;
}

.icon-contact i{
    border-radius: 1em;
    border:0.1em solid black;
    font-size: 0.9em;
    padding: 0.3em 0.4em 0.3em 0.4em;
}

.contact-a{
    transition: all 0.2s;
}
.contact-list:hover i{
    border: 0.1em solid rgb(136, 50, 136) ; 
    border-radius: 1em;
    padding: 0.3em 0.4em 0.3em 0.4em;
    color:black;
    background-color:rgb(136, 50, 136);
}

.contact-list:hover a{
    color:rgb(136, 50, 136);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-dad{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.first{
    display: flex;
}

.first{
    display: flex;
    width: 100%;
    flex-wrap: wrap;   
}

.form1{
    display: flex;
    flex-direction: column;
    max-width: 60em;
    flex: 1;
}

.form2{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 60px;
    left: 180px;
    max-width: 50em;
    flex: 1;
}

label{
    margin-bottom: 0.5em;
}

input[name=name]{
    width: 100%;
    display: inline;
    padding: 0.5em 0.1em;
 }

input[name=lastname]{
    width: 100%;
    display: inline;
    padding: 0.6em 0.1em;
 }

 input[name=email]{
    min-width: 100%;
    display: block;
    margin-bottom: 1em;
    padding: 0.6em 0.1em;
    flex: 1;
 }

 label[name=email]{
    display: block;
    margin-bottom: 0.5em;
 }

 input, textarea{
     border-radius: 1em;
     transition: all 0.3s;    
 }

.second{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    bottom: 51px;
    left: -2px;
    padding: 0.1em 0.3em;
} 

label[name=textarea]{
    display:block;
}

input[name=comentaris]{
    border-radius: 2em;
 }

textarea:focus, input:focus, button:focus{
    border:2px solid rgb(136, 50, 136); 
    border-radius: 1.5em;   
    outline: 0 none;
    box-shadow: 1px 1px 15px 7px rgb(136, 50, 136);    
}

.btn{
    background-color:white; 
    font-weight: bold;
    padding-bottom: 2em;
    padding-top: 0.7em;
    display: block;
    margin-top: 1em;
    margin-left: 0.2em;
    color:black;
    width: 20%;
    height: 10%;
    border-radius: 2.8em;
}

.btn:hover{
  background-color:rgb(190, 34, 190); 
  color:white;
}

/*////footer////*/
.footer{
    background-color: #424949;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 15em;
    min-width: 57em;
}

.section-container ul{
    display: flex;
    padding: 0px 10px 10px 10px;
    margin-bottom: 1em;
}

.section-container ul li{
    list-style-type: none;
}

.social-contact{
    display: flex;
}

.footer-icon{
    font-size: 0.9em;
    color: black;
}

.icon-containers .footer-icon{
    border-radius: 20em;
    background-color: white;
    margin: 0em 0.4em;
    border: 0.1em solid white;
    padding: 6px 9px 6px 9px;
    transition: all 0.5s;
} 

.footer-icon:hover {
    background-color: black;
    border: 0.1em solid rgb(190, 34, 190);   
    color: rgb(190, 34, 190);
}

.icon-containers:hover{
    color:rgb(190, 34, 190);
}

.author p{
    color: white;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    margin-top: 1em;
}

/*////media query////*/
@media(max-width:1090px){
    nav{
        display: none;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-introduction{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 69em;
        margin: 0em auto;
        padding: 0em;
    }

    .about-introduction p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 100%;
    }

    h1{
        font-size: 28em;
    }

    .introduction-banner, .about-intro, .about-description ,.info-button{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        
    }

    .info-button{
        width: 60%;
        height: 30%;
        margin:0em 1em 3em 1em;
    }

    .footer{
        min-width:100%;
    }
}

@media(max-width:1076px){
    .proyects{
        flex-direction: row;
        padding: 1em;
        justify-content: center;
        align-items: center;
    }

    .proyects-a{
        width: 100%;
        padding: 0em 4em;

    }
}

@media(max-width:1043px){
    .proyects-a{
        width: 100%;
    }

    .proyect-box{
        flex-basis: 30%;
    }

    .proyects-containers{
        margin:1% auto
    }
}

@media(max-width:917px){
    .my-skills{
        display: flex;
    }

    .skills-a{
        display: flex;
        flex-wrap: wrap;
    }

    .skill-box{
        flex-basis:40%;
    }

    .proyects-containers{
        display: flex;
    }

    .proyects-a{
    }

    .proyect-box{
        flex-basis: 30%;
    }

    .footer .section-container{
        max-width: 400em;
    }

    .about-introduction{
        padding-top: 5em;
    }

}

@media(max-width:900px){
    .my-proyects{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0em auto;
    }

     .proyects-containers{
       width: 100%;
       margin:0em auto}
    }

    .proyect-box{
        flex-basis: 50%;
    }

    .contact-section{
        display: flex;
        flex-direction: column;
    }

    .incon-container-a{
        display: flex;
        justify-content: flex-start;
    }

    .icon-a{
        margin-right: 1em;
    }

    .btn{
        height: 1em;
    }

    .section-container{
        margin: 0em;

    }
}



