@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

/* Global */
@import url('global.css');

/* Header */
@import url('header.css');

/* Main */
@import url('main_sect_1.css');
@import url('main_sect_2.css');
@import url('main_sect_3.css');
@import url('main_sect_4.css');
@import url('main_sect_5.css');

/* Footer */
@import url('footer.css');

/* Resposive */
@import url('media_query_1090.css');
@import url('media_query_1076.css');
@import url('media_query_1043.css');
@import url('media_query_917.css');
@import url('media_query_900.css');
@import url('media_query_856.css');
@import url('media_query_720.css');
@import url('media_query_705.css');
@import url('media_query_635.css');
@import url('media_query_625.css');
@import url('media_query_600.css');
@import url('media_query_570.css');
@import url('media_query_555.css');
@import url('media_query_505.css');
@import url('media_query_445.css');
@import url('media_query_390.css');
@import url('media_query_330.css');