@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family:'Montserrat', sans-serif;
    color:black;
    box-shadow:2em 2em 2em 2em #666666;
}

/*///// Header /////*/
header{
    position: sticky;
    top: 0px;
}

a{
    text-decoration: none;
    color:white;
    font-size: 0.9em;
    margin: 0em 0.9em;
    font-weight: 300;
    color: white;
}

nav{
    display: flex;
    justify-content: flex-end;
    box-shadow: 0.1em 0.2em 1.7em 0.4em rgba(250, 242, 242, 0.884);
    background-color:#424949; 
    height: 5em;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 1.25em 5em;
}

.nav-option:hover{
    color: thistle;
    padding: 0.2em;
    font-weight: bold;
}

.contact-button{
    color: #FFFF;
    box-shadow: black;
    padding: 0.5em 1.2em;
    border-radius: 20px;
    background-color: #666666;
    
}

.contact-button:hover{
    background-color: thistle;
    color: black;
}

a:hover{
    color: rgb(190, 34, 190);
    }

/*///// Main /////*/
/*///// Sección 1 /////*/
main .about-introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11em 8.12em;
    background-color: black;
    flex-wrap: wrap;
    align-items: center;
}

.introduction-banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.introduction-banner .about-intro{
    font-weight:800;
    font-size: 1.2em;
    margin-left: -0.9em;
    margin-top: 1.25;
    color: #B3B6B7;
}

.introduction-banner h1{
    font-size: 4em;
    font-weight: 900;
    font-family:'Lobster', cursive; 
    color:#A3B3B5;
    margin-left: -0.7em;
    margin-top: 0.18em;
    text-align: center;
}

.introduction-banner .about-description{
    font-size: 1em;
    font-weight: 400;
    padding-top: 1.3em;
    padding-bottom: 2.2em;
    color: #B3B6B7;
    margin-left: -2em;
}

.introduction-banner .info-button{
    display: flex;
    width: 70%;
    color: #FFFF;
    font-size: 0.9em;
    font-weight: 450;
    background-color:#494e4e;
    border-radius: 1.5em;
    padding: 0.9em 1.2em;
    justify-content: center;
    margin-left: -1.5em;
    justify-content: center;
}

.info-button:hover {
    background-color: thistle;
    color: black;
}

.about-introduction img{
    width: 50%;
    margin-top: 0.2em;
    margin-left: 0.7em;
    justify-content: center;
    align-items: center;

}

/*///// Sección 2 /////*/
.my-skills{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#D4D9DA;
    padding: 9em 6em;
    flex-wrap: wrap;
}

.my-skills .skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

.my-skills .skills-title h2{
    font-size: 4.9em;
    font-weight:900; 
    font-family: 'Allison', cursive;
    justify-content: center;
}

.my-skills .skills-title p{
    text-align: center;
    max-width: 20.5em;
    margin: 1.7em;
    font-size: 0.8em;
}

.skills-containers img{
    width: 30%;
}

.skills-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.skills-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.skills-b{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.skill-box p{
    margin: 0.7em;
    font-weight: bold;
}
.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 14.4em;
    min-width: 9em;
    min-height: 11.9em;
    flex: 1;
    margin: 0.5em;
    border-radius: 0.4em;
    background-color: #FFFF;
    transition: all 0.4s;
}

.skill-box:hover{
    border: 0.1em solid black;
    
}

.skill-box p:hover{
    color:#666666;
    text-shadow: 0.2 0.2 0.2 0.2 black;
}

/*///// Sección3 /////*/
.extra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #777777;
    color:white;
    height: 28em;
    flex-wrap: wrap;
}

.extra-info .quote{
    font-size: 4em;
}

blockquote{
    max-width: 30em;
}

.extra-info-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    max-width: 15em;
    max-height: 15em;
    margin-bottom: 1.5em;
}

.extra-info blockquote p{
    text-align: center;
}

.extra-info .extra-info-bottom h2{
    font-size: 2em;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family:'Lobster', cursive;
}

/*//// Section 4 ////*/
.proyects{
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    background-color:#D4D9DA;
    padding: 3.5em 6em;
    flex-wrap: wrap;
}   

.proyects .my-proyects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 3em;
    }

.proyects .my-proyects h2{
    font-size: 4.5em;
    font-weight:900; 
    padding: 0em 1em 0.3em 1em;
    font-family: 'Allison', cursive;
}

.proyects .my-proyects p {
    text-align: center;
    max-width: 20em;
    font-size: 0.7em;
}
.proyect-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 17em;
    max-height: 19em;
    min-height: 15em;
    margin: 0.7em;
    border: 0.1em solid #dddfe5;
    border-radius: 0.7em;
    background-color: white;
    transition: all 1s;
}

.proyect-box img{
    width: 80%;
}

.proyect-box p{
    font-weight: bold;
    text-align: center;
    font-size: 0.9em;
    margin-top: 1em;
}

.proyects-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.proyect-box:hover{
    border: 0.1em solid black;
}

.proyects-a{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
 
.proyects-b{
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
}

.proyects-c{
     display: flex;
     flex-wrap: wrap;
     flex: 1;
}


/*//// Section 5 ////*/
.contact-section{
    display: flex;
    justify-content: center;
    margin: 6em 6em;
    background-color:black;
    border: 2px solid white;
    color: white;
    padding: 1em;
    flex-wrap: wrap;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:0em 1em 0em 0em;
    margin-left: -0.9em;
}

.contact-container p{
    font-size: 0.7em;
    max-width: 25em;
    padding-right: 60px;
}


.contact-form{
    font-size: 5em;
    font-weight:900; 
    margin:0.3em auto;
    font-family:'Allison', cursive;
    
}

.contact-list{
    padding-top:0.5em;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-list i{
    padding: 1em 0.2em;
}


i a{
    color:white;
    font-size: 0.7em;
    font-family:'Montserrat', sans-serif;
}

a:hover{
    color: rgb(190, 34, 190);
    }

i:hover{
    color: rgb(190, 34, 190);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 19em;
    max-height: 20%;
}

input{
    display: block;
    margin: 0.5em 1em;
    border-radius: 0.4em;
    max-width:19em;
    padding: 0.5em;
}

label{
    font-size: 12px;
    border-radius: 1.5em;
}

label[name=textarea]{
    display:block;
    margin:0.3em 0em 0.6em -0.8em; 
}

.textarea{
    display: block;
    max-width: 25em;
    margin-left: 0.6em;
}

form{
    margin-top: -2em;
    padding-top: 0.5em;
}

.btn{
    background-color:white; 
    font-weight: bold;
    padding: 0.8em;
    display: block;
    margin: 0.8em auto;
    color:black;
    width: 30%;
    height: 10%;
    border-radius: 2.8em;
}

.btn:hover{
  background-color:rgb(190, 34, 190); 
  color:white;
}

/*////footer////*/
.footer{
    background-color: #424949;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}

.footer-icon{
    font-size: 2em;
}

.section-container ul{
    display: flex;
    padding: 0px 10px 10px 10px;
}

.section-container ul li{
    list-style-type: none;
}

.social-contact{
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    padding: 10px;
}

.social-contact p{
    color: white;
}

.author p{
    color: white;
    padding: 10px;
    font-size: 12px;
}

/*////media query////*/
@media(max-width:500px){
    nav{
        visibility: hidden;
    }
} 