/*////footer////*/
.footer{ /*/////------------------------ INICIO FONDO FOOTER --------------------------/////*/
    background-image: url("../img/fondo2-unsplash.jpg");
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.5em 0em;
    width: 100%;
} /*/////------------------------ INICIO LISTA ICONOS CONTACTO --------------------------/////*/

.section-container ul{
    display: flex;
    padding: 0px 10px 10px 10px;
    margin-bottom: 1em;
}

.section-container ul li{
    list-style-type: none;
}

.section-container ul li a{
    color: black;
    font-weight: bold;
}

.social-contact{
    display: flex;
}

.footer-icon{
    font-size: 0.9em;
    color: black;
}

.icon-containers a:focus{
    box-shadow: 1px 1px 15px 15px var(--details-color);    
}

.icon-containers .footer-icon{
    border-radius: 20em;
    background-color: white;
    margin: 0em 0.4em;
    border: 0.1em solid black;
    padding: 6px 9px 6px 9px;
    transition: all 0.5s;
} 

.footer-icon:hover {
    background-color: black;
    border: 0.1em solid var(--details-color);   
    color: var(--details-color);
}

.icon-containers:hover{
    color:var(--details-color);
} /*/////------------------------ PIE DE AUTOR --------------------------/////*/

.author p{
    color:black;
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    margin-top: 1em;
}