/*///// Header /////*/
header{
    position: sticky;
    top: 0px;
    z-index: 999;
    box-shadow: 1px 1px 10px 6px white;
}

.nav-option{
    font-weight: bold;
}

a{
    text-decoration: none;
    font-size: 0.9em;
    margin: 0em 0.9em;
    color: white;
}

nav{
    display: flex;
    justify-content: flex-end;
    background-color:#424949; 
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 1.25em 5em;
}

.nav-option:hover{
    color:var(--background-color);
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

.contact-button{
    color: #FFFF;
    box-shadow: black;
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color: #666666;
    font-weight: bold;
    
}

.contact-button:hover{
    background-color:var(--background-color);

}

a:hover{
    color: black;
    }