/*///// Sección 2 /////*/
.my-skills{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#D4D9DA;
    padding: 7.9em 6em;
    flex-wrap: wrap;
    box-shadow:inset -10px 0px 7px 0px rgba(128, 124, 124, 0.911); 
}

.my-skills .skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

.my-skills .skills-title h2{
    font-size: 4.9em;
    font-weight:900; 
    font-family: 'Allison', cursive;
    justify-content: center;
}

.my-skills .skills-title p{
    text-align: center;
    max-width: 20.5em;
    margin: 1.7em;
    font-size: 0.8em;
}

.skills-containers img{
    width: 30%;
    margin: 0.4em;
}

.skills-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.skills-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    
}

.skill-box p{
    margin: 0.7em;
    font-weight: bold;
}
.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 14em;
    width: 25%;
    margin: 0.5em; 
    border-radius: 0.4em;
    background-color: #FFFF;
    transition: all 0.1s;
    border: 0.1em solid white;
}

.skill-box:hover{
    border: 0.1em solid black;
    color:#666666;
    box-shadow: 0.1em 0.1em 1em 0.1em rgb(168, 164, 164);
}