/*///// Sección3 /////*/
.extra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 32em;
    flex-wrap: wrap;
    /* box-shadow:inset -10px 0px 7px 0px rgba(163, 163, 163, 0.911); */
    background-image: url("../img/grey-unsplash.jpg");
    background-size: cover; 
}

.extra-info .quote{
    font-size: 4em;
    color: black;
}

blockquote{
    max-width: 30em;
}

.extra-info-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    max-width: 15em;
    max-height: 15em;
    margin-bottom: 1.5em;
}

.extra-info blockquote p{
    text-align: center;
    color: black;
    font-weight: bold;
}

.extra-info .extra-info-bottom h2{
    font-size: 2em;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family:var(--cursive-font);
    color: black;
    -webkit-text-stroke: 1px rgb(15, 15, 15);

}