/*///// Sección 2 /////*/
.my-skills{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em;
    flex-wrap: wrap;
    background-color:var(--background-color);
}

.my-skills .skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

.my-skills .skills-title h2{
    font-size: 5em;
    font-weight:bold; 
    font-family: var(--font-title);
    justify-content: center;
    color: black;
    text-shadow: 18px 18px 5px rgb(160, 159, 159)
}

.my-skills .skills-title p{
    text-align: center;
    max-width: 20.5em;
    margin: 1.7em;
    font-size: 0.8em;
}

.skills-containers img{
    width: 30%;
    margin: 0.4em;
}

.skills-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.skills-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}

.skill-box p{
    margin: 0.7em;
    font-weight: bold;
}
.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 14em;
    width: 25%;
    margin: 0.5em; 
    border-radius: 0.4em;
    background-color: #FFFF;
    transition: all 0.1s;
    border: 0.1em solid white;
    box-shadow: 0.1em 0.1em 1em 0.1em rgb(117, 115, 115);
}

.skill-box:hover{
    border: 0.1em solid black;
    color:var(--details-color);
}