/*///// Main /////*/
/*///// Sección 1 /////*/
main .about-introduction{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 3em 1em 9em 5em;
    width: 100%;
    background-color:black;
    flex-wrap: wrap;
    align-items: center;
}

.introduction-banner {  /*/////------------------------ INICIO DE BANNER CON SALUDO --------------------------/////*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0 auto;
}

.introduction-banner .about-intro{
    font-weight:800;
    font-size: 1.2em;
    margin-left: -2.4em;
    margin-top: 1.25;
    color: #B3B6B7;
}

.introduction-banner h1{
    font-size: 5em;
    font-weight: 900;
    font-family:var(--cursive-font);
    color: black;
    margin-left: -0.7em;
    margin-top: 0.18em;
    text-align: center;
    -webkit-text-stroke: 0.5px rgb(239, 247, 243);  
}

.introduction-banner .about-description{
    font-size: 1em;
    font-weight: 400;
    padding-top: 1.3em;
    padding-bottom: 2.2em;
    color: #B3B6B7;
    margin-left: -2.5em;
}

.introduction-banner .info-button{
    display: flex;
    width: 50%;
    color: #FFFF;
    font-size: 0.7em;
    font-weight: 450;
    background-color:#494e4e;
    border-radius: 07em;
    padding: 0.9em 0.8em;
    justify-content: center;
    margin-left: -3.6em;
    justify-content: center;
}

.info-button:hover{
    background-color: rgb(127, 127, 214);
}

.info-button:hover p{
    color: black;
    font-weight: bold;
}

.about-introduction .imag-presentation{/*/////------------------------ IMAGEN DE SECCION 1 --------------------------/////*/
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.about-introduction .imag-presentation img{
    width: 80%;
}