@media(max-width:570px){
    .my-skills{
        justify-content: center;
    }
    .skills-containers{
        justify-content: center;
        margin: 1em;
    }

    .skills-a{
         width: 85%;
     }
 
     .skill-box{
         flex-basis: 40%;
     }
 }