/*////media query////*/
@media(max-width:1090px){
    nav{
        display: none;
    }

    #presentation{
        padding:4em 2em;
    }

    .imag-presentation{
        margin: auto;
    }

    .about-introduction{
        flex-direction: column;
        align-items: center;
        margin: 0em auto;
        padding:1em 1em;
    }

    .introduction-banner h1{
        font-size: 7em;
        margin: auto;
    }

    .introduction-banner .about-intro{
        font-size: 2em;
        margin: auto;
    }

    .introduction-banner .about-description{
        font-size: 1.7em;
        margin: auto;
    }
    .introduction-banner .info-button{
        margin-left: 0em;
    }

    .info-button{
        width: 50%;
        margin:0em 0em 2em 0em;
    }

    .about-introduction .info-button a p{
        font-size: 2em;
    }
    
    .about-introduction .imag-presentation{
        width:50%;
        margin: auto;
    }

    .about-introduction .imag-presentation img{
        width: 100%;
    }

    .introduction-banner, .about-intro, .about-description ,.info-button{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
    }

    .about-introduction .info-button a p{
        font-size: 2em;
    }

    .footer{
        min-width:100%;
    }

    .btn{
        height: 20%;
        width: 50%;
        margin-bottom: 2em;
        padding: 1em 1em 2em 1em;
    }
}