@media(max-width:917px){
    .skills-a{
        display: flex;
        flex-wrap: wrap;
    }

    .skill-box{
        flex-basis:40%;
    }

    .proyects-containers{
        display: flex;
    }

    .proyect-box{
        flex-basis: 30%;
    }
     
    .about-introduction h1{
        font-size: 5em;
    }

    .about-introduction .about-description{
        font-size:1.5em ;
    }

}