@media(max-width:505px){
    .incon-container-a{
        flex-direction: column;
    }

    .introduction-banner{
        margin:2em 0em;
    }

    main{
        background-color:#D4D9DA;
    }

    .contact-section{
        margin-top:900px;
    }

    .proyects-containers{
        margin-bottom: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .form{
        padding:2em 0em;
    }

    .formfirst{
        flex-direction: column;
        justify-content: flex-start;
    }

    input[type=email]{
        width: 50%;
    }

    .btn{
        height: 10%;
        width: 50%;
        margin-bottom: 2em;
    }

    .textarea{
        height: 60%;
        width: 70%;
    }

    blockquote{
        padding:0em 3em;
    }

    .contact-section{
        margin-top:950px;
    }

    .proyects-containers{
        margin-bottom: 1em;
    } 
}