@media(max-width:625px){
    main .about-introduction{
        padding: 8em 0em 8em 0em;
    }

    .about-introduction h1{
        font-size: 6.7em;
    }

    .introduction-banner{
        margin-bottom: 2em;
        padding-bottom: 1em;
    }

    .about-introduction img{
        width: 80%;
    }
}     