@media(max-width:445px){
    .introduction-banner{
        margin: 0 auto;
    }

    .about-introduction .imag-presentation{
        width:80%;
    }

    .about-introduction .imag-presentation img{
        width: 100%;
    }

    .about-introduction h1{
        font-size: 3em;
        padding:0em;
        margin: 0em;
    }

    .my-skills .skills-title h2{
        text-align: center;
        font-size: 3em;
    }

    .proyects .my-proyects h2{
        text-align: center;
        font-size: 3em;
    }

    .about-introduction .about-description{
        text-align: center;
        font-size: 1em;
        margin: 0 auto;
    }
    .about-introduction .info-button{
        width: 60%;
        margin:0em 1em 10em 1em;
        padding:1em;
    }

    .about-introduction .info-button a p{
        font-size: 1.3em;
    }

    .introduction-banner .about-description{
         margin: 0em 0.5em 0em 0.5em; 
         text-align: center;
    }

    .about-introduction img{
        width: 90%;
    }  
} 