@media(max-width:330px){
    .quote h2{
        font-size: 1.2em;
    }

    blockquote p{
        font-size: 0.7em;
        padding: 0em 0.9em ;
    }

    .quote .extra-info-bottom h2{
        margin: 0em;

    }
}