@media(max-width:400px){

    .quote h2{
        font-size: 1.2em;
    }
    
    .div.footer{
        padding: 0em;
        width: 50%;
    }

    .social-contact{
        margin: 0;
    }

    .proyect-box{
        margin:1em 0em;
    }

    .skills-containers{
        margin:1em
    }

    .skills-a{
        width: 90%;
    }

    .skill-box{
        width: 44%;
    }

    h2.contact-form{
        margin:1em 0em;
        padding: 0em;
    }

    .div.footer{
        width: 50%;
    }

    .about-introduction{
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .about-introduction img{
        width: 70%;
    }

    .info-button{
        padding: 0em;
        margin:0 auto;
    }

    .about-introduction .introduction-banner{
        margin-bottom: -3em;
    }

    h2.contact-form {
    padding-bottom: 0.1em;
    }
}