@media(max-width:555px){
    .about-introduction h1{
        font-size: 4.2em;
    }

    .proyects-containers{
        width: 95%;
    }

    .proyect-box{
        flex-basis: 100%;
        height: 20%;
    }

    .proyects-a{
        padding-right:0.5em;
        padding-left: 0.5em;
    }

    main{
        background-color:#D4D9DA;
    }

    .contact-section{
        margin-top:1050px;
    }

    .proyects-containers{
        margin-bottom: 3em;
    } 

    .skills-containers{
        margin: 0em 1em;
    }

    .skill-box{
        min-height: 8em;
    }
}