@media(max-width:555px){
    .about-introduction h1{
        font-size: 4.2em;
    }

    .about-introduction .about-description{
        font-size: 1.4em;
    }

     .proyects-containers{
       width: 95%;
    }

    .proyect-box{
        flex-basis: 100%;
        height: 20%;
    }

    .proyects-a{
        padding-right:0.5em;
        padding-left: 0.5em;
    }

    main{
        background-color:#D4D9DA;
        box-shadow:inset -10px 0px 7px 0px rgba(128, 124, 124, 0.911); 
    }

    .contact-section{
        margin-top:950px;
    }

   .proyects-containers{
       margin-bottom: 2em;
   } 
}