@media(max-width:705px){
    .about-introduction .imag-presentation{
        width:80%;
    }

    .about-introduction .imag-presentation img{
        width: 100%;
    }

    .section-container{
        display: none;
    }

    .proyects{
        padding:3em 0em;
    }
}