@media(max-width:1076px){
    main .about-introduction{
        padding-top:12em;
    } 
    .proyects-a{
        width: 100%;
    }

    .proyect-box{
        flex-basis: 30%;
    }

    .proyects-containers{
        margin:1% auto
    }

    .my-skills{
        padding:7em 0em;
    }
}
