@media(max-width:445px){
    .introduction-banner{
        margin: 0 auto;
    }

    .about-introduction .imag-presentation{
        width:80%;
    }

    .about-introduction .imag-presentation img{
        width: 100%;
    }

    .about-introduction h1{
        font-size: 3em;
    }

    .my-skills .skills-title h2{
        text-align: center;
        font-size: 3em;
    }

    .proyects .my-proyects h2{
        text-align: center;
        font-size: 3em;
    }

    .about-introduction .about-description{
        text-align: center;
        font-size: 1em;
        margin: 0em 0.5em 0em 0.5em; 
        text-align: center;
    }

    main .about-introduction{
        /* padding: 5em 2em; */
    }

    .about-introduction .info-button a p{
        font-size: 1em;
    }

    .about-introduction img{
        width: 90%;
    }  

    
    .contact-section{
        margin-top:900px;
    }

    .proyects-containers{
        margin-bottom: 1em;
    } 
} 