@media(max-width:505px){
    .incon-container-a{
        flex-direction: column;
    }

    main{
        background-color:#D4D9DA;
    }

    .contact-section{
        margin-top:900px;
    }

   .proyects-containers{
       margin-bottom: 2em;
       margin-left: 1em;
       margin-right: 1em;
   }

    .form-container{
       padding: 1em 1em 4em 1em;
   }

   .form-container .contact-form{
       padding: 0em 0em 2em 0em;
    } 
 
    form input[name=name]{
        position: relative;
        bottom: 190px;
        left: 5px;
    } 

     form label[name=name]{
        position: relative;
        bottom: 191px;
        left:6px;
    }

    input[name=lastname]{
       position: absolute;
       bottom:60px;
       right:178px;
    }

    label[name=lastname]{
        position: absolute;
        bottom:72px;
        right: 267px;
     }
 
    input[name=email]{
        position: absolute;
        bottom:50px;
        left: 15px;
    }

    label[name=email]{
        position: absolute;
        bottom:92px;
        left: 17px;
    }

    .contact-container p{
        padding: 0em;
    }

    textarea{
        position: absolute;
        top:27px;
        left: 15px;
} 
    input[name=enviar]{
        position: relative;
        top:55px;
        left:9px;
}
    label[name=textarea]{
        position: absolute;
        top:5px;
        left: 17px;
        width: 50%;
}

   .btn{
        width: 100%;
    }

    
    blockquote{
        padding:0em 3em;
    }

}