@media(max-width:390px){
    .quote h2{
        font-size: 1.2em;
    }

    
    .skills-title h2{
        text-align: center;
    }

    .div.footer{
        padding: 0em;
        width: 50%;
    }

    .social-contact{
        margin: 0;
    }
    
}